/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.HeaderMenu {
  display: flex;
  padding-bottom: 5px;
}

.Logo {
  margin-top: 20px;
  margin-left: 240px ;
  display: inline-block;
}

.Logo:hover {
  transform: scale(1.08);
}

.TrybyNauki {
  display: inline-block;
  font-size: large;
  padding-left: 40px;
  font-weight: bold;
  min-width: 143px;
}

.TrybyNauki:hover {
  transform: scale(1.08);
}

.TrybyNauki:hover {
  text-decoration: underline rgb(15, 189, 151) 2px;
}
.TrybyArrow {
  display: inline-block;
  margin-top: 53px;
  padding-left: 4px;
}

.OknoTrybyNauki {
  /* left: 35%; */
  position: absolute;
  /* margin-top: 80px; */
  padding-inline: 20px;
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  /* margin-left: -130px; */
  background-color: white;
  min-width: 357px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.coll {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.colr {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.content {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.content:hover {
  text-decoration: underline rgb(15, 189, 151) 2px;
}

.content img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.trybybold {
  font-weight: bold;

}

.trybybold:hover {
  transform: scale(1.08);
}
.Premium {
  display: inline-block;
  font-size: large;
  padding-left: 40px;
  left: 0%;
  font-weight: bold;
  position: relative;
  top: 0;
  bottom: 0;
  min-width: 143px;
}

.Premium:hover {
  transform: scale(1.08);
}

.Premium:hover {
  text-decoration: underline rgb(15, 189, 151) 2px;
}

.PremiumArrow {
  display: inline-block;
  margin-top: 53px;
  padding-left: 6px;
  position: relative;
  left: 0%;
}

.OknoPremium {
  position: absolute;
  top: 0;
  margin-top: 80px;
  padding-inline: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  min-width: 354px;
}

.gbpremiumlogo {
  margin-top: -7px;
  display: block;
  margin-left: 80px;
}

.oneline {
display: flex;
flex-direction: row;
}

.checkarrow1 {
  margin-top: 18px;
  padding-left: 7px; 
}

.checkarrow2 {
  padding-left: 7px; 
}

.ZalogujSie {
  /*
  position: relative;
  top: 0;
  left: 32%;
  */
  margin-left: auto;
  margin-right: 10px;
  width: 191px;
  height: 70px;
  margin-top: 20px;
  border-radius: 14px;
  background-color:#0CB995;
  font-weight: bold;
  font-size: 17px;
  color: white;
}

.ZalogujSie:hover {
 background-color: #29927C;
 transform: scale(1.08);
}

.ZarejestrujSie {
  margin-right: calc((100vw - 70%)/2);
  width: 191px;
  height: 70px;
  margin-top: 20px;
  border-radius: 14px;
  background-color:#0CB995;
  font-weight: bold;
  font-size: 17px;
  color: white;
}

.ZarejestrujSie:hover {
  background-color: #29927C;
  transform: scale(1.08);
 }

.Srodek {
  background-color: #f3f3f3;
}

.Shows {
  margin-top: -1px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 245px;
}

.firstShowimg {
  margin:auto;
  margin-top: -30px;
  padding-top: 5px;
  width: 70%;
  display: block;
}

.secondShowimg {
  margin: auto;
  margin-top: -30px;
  padding-top: 5px;
  display: block;
  width: 70%;
}

.firstShow {
  box-sizing: border-box;
  border: 2px black solid;
  border-radius: 5px;
  padding-bottom: 10px;
}
.secondShow {
  border: 2px black solid;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-top: 20px;
}
.thirdShow {
  box-sizing: border-box;
  border: 2px black solid;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.foot {
  font-style: italic;
  margin-left: 42%;
  margin-top: .8%;
  margin-bottom: .8%;
  font-weight: 400;
}

.HeaderComponent {
  background-color: white;
  max-height: 10%;
  display: flex;
}

.HeaderLogo {
  margin-left: 37%;
  margin-top: 1%;
  padding-bottom: .7%;
  
}

.HeaderLogo:hover {
  transform: scale(1.1);
}

.BackArrow {
  margin-top: 34px;
  margin-left: 2%;

}

.LoginBody {
  width: 100%;
  position: fixed;
  background-color:#DBEBF1;
}

.PageFix {
  margin-top: 100%;
}

.LoginContent {
  box-sizing: border-box;
  font-size: 16px;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  float: none;
  position: static;
  z-index: 1;
  line-height: 1.5;
}

.loginWindow {
  background-color: white;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: clamp(800px,80%,1050px);
  margin: auto;
  margin-top: 71px;
  /* margin-left: 25%; */
  border: 0px;
  border-radius: 15px;
  max-width: 1040px;
}


.lewaStronaLogin {
  height: 100%; 
  margin-left: 10px;
  width: clamp(350px, 50%, 800px);
  border-right: 1px solid black;
}

.prawaStronaLogin {
  height: 100%; 
  width: clamp(350px, 50%, 800px);
}


.LoginPhoto{
padding-left: 50px;
}


.Rejestracja {
  font-weight: 700;
  font-size: 34px;
  margin-left: 5px;
}

.NapisyLogin {
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 6px;
  padding-top: 25px;
  margin-left: 25px;
}

.loginInput {
  border-radius: 5px;
  border: 1px solid black;
  height: 10%;
  font-size: 20px;
  max-width: 70%;
  margin-left: 25px;
  width: clamp(200px,70%,350px);

}

.loginInput:hover {
  transform: scale(1.08);
}

.loginButton {
  width: 340px;
  height: 59px;
  background-color: #29927C;
  flex-direction: column;
  display: flex;
  margin-top: 7%;
  border-radius: 11px;
  color: white;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  border: 0px;
  margin-left: 24px;
  width: clamp(200px,80%,365px);
}

.loginButton:hover {
  transform: scale(1.08);
}

.OneText {
  display: flex;
}

.loginQuestion {
  font-weight: 600;
  font-size: 14px;
  padding-top: 15px;
  color: #616161;
  margin-left: 16%;
}

.RegisterText {
  color: #616161;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: underline 1px #616161;
}

.RightTextLogin {
  font-weight: bold;
  font-size: 22px;
  margin-left: 90px;
  padding-bottom: 90px;
}


.loginButton:hover {
  background-color: #176151;
}

.RegisterText:hover {
  font-weight: bold;
}

.Recaptcha {
  border: 1px solid black;
  width: 69%;
  margin-top: 40px;
  margin-left: 28px;
  border-radius: 7px;
  padding: 5px;
  width: clamp(200px, 67%, 350px);
}

.Recaptcha:hover {
  transform: scale(1.08);
}

.RecaptchaText {
  font-size: 24px;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  margin-left: 5px;
  padding-left: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.RecaptchaText input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 300;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 1px solid black;
}

.RecaptchaText:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.RecaptchaText input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.RecaptchaText input:checked ~ .checkmark:after {
  display: block;
}

.RecaptchaText .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.RegisterPhoto1 {
width: clamp(200px,70%,350px);
position: relative;
padding-left: 80px;
}

.RegisterPhoto2 {
  position: relative;
  width: clamp(200px,70%,350px);
  padding-left: 70px;
}

.RightTextRegister {
  font-weight: bold;
  font-size: 22px;
  margin-left: 90px;
}

.footLoginRegister {
    font-style: italic;
    margin-left: 45%;
    margin-top: .8%;
    margin-bottom: .8%;
    font-weight: 400;
  
}